.loginsignup {
  background-color: #fde1ff;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginsignup-container {
  background-color: white;
  padding: 40px;
  width: 30%;
}
.loginsignup-container h1 {
  font-weight: 500;
}
.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.loginsignup-fields input {
  height: 30px;
  padding: 5px;
  border: 1px solid rgb(184, 184, 184);
}
.continue {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #ff4141;
  border: none;
  cursor: pointer;
}

.login {
  margin: 10px 0;
}
.login span {
  color: #ff4141;
  cursor: pointer;
}
.agree {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .loginsignup-container {
    width: 50%;
    padding: 30px;
  }

  .loginsignup-container h1 {
    font-size: 24px;
  }

  .loginsignup-fields input {
    font-size: 14px;
  }

  .continue {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .loginsignup {
    padding: 20% 0;
    height: auto;
  }

  .loginsignup-container {
    width: 90%;
    padding: 20px;
  }

  .loginsignup-container h1 {
    font-size: 22px;
    text-align: center;
  }

  .loginsignup-fields input {
    height: 28px;
    font-size: 14px;
    padding: 5px 8px;
  }

  .continue {
    font-size: 14px;
    padding: 8px;
  }

  .agree {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 14px;
  }

  .login {
    font-size: 14px;
    text-align: start;
  }
}
