.related-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
  /* min-height: 160vh; */
}
.related-product h1 {
  color: #171717;
  font-size: 40px;
  font-weight: 600;
}
.related-product hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.product-item {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
