.related-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
  /* min-height: 160vh; */
}
.related-product h1 {
  color: #171717;
  font-size: 40px;
  font-weight: 600;
}
.related-product hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.product-item {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 1024px) {
  .related-product h1 {
    font-size: 32px;
  }

  .related-product hr {
    width: 150px;
    height: 4px;
  }

  .product-item {
    gap: 30px;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .related-product {
    padding: 0 20px 10vh 20px;
  }

  .related-product h1 {
    font-size: 26px;
    text-align: center;
  }

  .related-product hr {
    width: 120px;
    height: 3px;
  }

  .product-item {
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
  }
}
